{% extends "template.html" %}
{% block conteudo %}
      <form action="{{url_for('criar')}}" method="post" enctype="multipart/form-data">
        <figure class="img-thumbnail col-md-4">
          <img src="{{ url_for('imagem', nome_arquivo='capa_padrao.jpg') }}" class="img-fluid">
          <figcaptionL>
            <label class="fileContainer">
              Mudar Capa
              <input typer="file" name="arquivo" accept=".jpg">
            </label>
          </figcaptionL>
        </figure>
        <fieldset>
          {{ form.csrf_token() }}

          <div class="form-group">
            {{ form.nome.label(class='form-label') }}
            {{ form.nome(classe='form-control') }}
          </div>
          <div class="form-group">
            {{ form.categoria.label(class='form-label') }}

            {{ form.categoria(classe='form-control') }}

          </div>
          <div class="form-group">
            {{ form.console.label(class='form-label') }}

            {{ form.console(classe='form-control') }}

          </div>
          <div>{{ form.salvar(class='btn btn-primary') }}</div>
          
          <a href="{{ url_for('index') }}">OUT</a>
        </fieldset>
      </form>
{% endblock %}
<a href="{{ url_for('index') }}">OUT</a>
